<?xml version="1.0" encoding="utf-8"?>
<robot name="wujihand-left-v1.0.0">
  <!-- Minimal MuJoCo settings - detailed configuration will be in exported XML -->
  <mujoco>
    <compiler meshdir="../meshes/left/" balanceinertia="true"/>
  </mujoco>
  <link
    name="palm_link">
    <inertial>
      <origin
        xyz="-0.00292929095429706 -0.000424723926533241 0.0364904602759093"
        rpy="0 0 0" />
      <mass
        value="0.2179" />
      <inertia
        ixx="0.000185138805675"
        ixy="-6.95e-04"
        ixz="6.81e-03"
        iyy="0.000122854497279"
        iyz="1.27e-02"
        izz="8.31e-02" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wujihand-urdf/Description/meshes/left/palm_mask.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
      <!-- MuJoCo visual设置 - 使用组1（可见） -->
      <class>visual</class>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5708 0 0" />
      <geometry>
        <mesh
          filename="package://wujihand-urdf/Description/meshes/left/palm_link.STL" />
      </geometry>
      <!-- MuJoCo collision parameters - 增大palm的margin和gap -->
      <mu1 value="0.8"/>
      <mu2 value="0.8"/>
      <margin value="0.015"/>
      <gap value="0.012"/>
      <!-- MuJoCo碰撞设置 - 使用组3（不可见） -->
      <class>collision</class>
    </collision>
  </link>
  <link
    name="finger1_link1">
    <inertial>
      <origin
        xyz="-0.00158326296943185 0.00213593307440989 0.00777132593574714"
        rpy="0 0 0" />
      <mass
        value="0.0075" />
      <inertia
        ixx="3.31e-04"
        ixy="-4.13e-06"
        ixz="-8.89e-06"
        iyy="3.17e-04"
        iyz="-5.68e-05"
        izz="2.14e-04" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wujihand-urdf/Description/meshes/left/finger1_link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wujihand-urdf/Description/meshes/left/finger1_link1.STL" />
      </geometry>
      <!-- MuJoCo collision parameters - 第一指节增加margin和gap -->
      <margin value="0.006"/>
      <gap value="0.004"/>
      <class>collision</class>
    </collision>
  </link>
  <joint
    name="finger1_joint1"
    type="revolute">
    <origin
      xyz="0.0085244 -0.020575 0.028712"
      rpy="1.328 -0.37161 0.7307" />
    <parent
      link="palm_link" />
    <child
      link="finger1_link1" />
    <axis
      xyz="-0 1 -0" />
    <limit
      lower="-0.0448"
      upper="1.6508"
      effort="0.6"
      velocity="8.58701992" />
  </joint>
  <link
    name="finger1_link2">
    <inertial>
      <origin
        xyz="2.99522995513279E-05 -0.00116812486179632 0.0149182232520299"
        rpy="0 0 0" />
      <mass
        value="0.0248" />
      <inertia
        ixx="2.63e-04"
        ixy="1.82e-03"
        ixz="-1.15e-03"
        iyy="2.56e-04"
        iyz="-8.82e-04"
        izz="6.80e-02" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wujihand-urdf/Description/meshes/left/finger1_link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wujihand-urdf/Description/meshes/left/finger1_link2.STL" />
      </geometry>
      <class>collision</class>
    </collision>
  </link>
  <joint
    name="finger1_joint2"
    type="revolute">
    <origin
      xyz="-0.0047549 0.0060191 0.014132"
      rpy="-0.27968 -0.55633 -0.081982" />
    <parent
      link="finger1_link1" />
    <child
      link="finger1_link2" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="-0.1659"
      upper="0.9339"
      effort="0.6"
      velocity="11.10029404" />
  </joint>
  <link
    name="finger1_link3">
    <inertial>
      <origin
        xyz="-0.0011164528117824 -0.000193536601537519 0.0127950742476409"
        rpy="0 0 0" />
      <mass
        value="0.0165" />
      <inertia
        ixx="1.42e-03"
        ixy="-1.20e-08"
        ixz="-2.21e-05"
        iyy="1.39e-03"
        iyz="1.29e-06"
        izz="4.50e-04" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wujihand-urdf/Description/meshes/left/finger1_link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wujihand-urdf/Description/meshes/left/finger1_link3.STL" />
      </geometry>
      <class>collision</class>
    </collision>
  </link>
  <joint
    name="finger1_joint3"
    type="revolute">
    <origin
      xyz="0.0009915 -0.00026671 0.033166"
      rpy="-0.049049 0.017311 0.33774" />
    <parent
      link="finger1_link2" />
    <child
      link="finger1_link3" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.4932"
      upper="1.6272"
      effort="0.3"
      velocity="12.86307659" />
  </joint>
  <link
    name="finger1_link4">
    <inertial>
      <origin
        xyz="-0.0011924347648161 -0.000426848762611627 0.00874664264011477"
        rpy="0 0 0" />
      <mass
        value="0.0165" />
      <inertia
        ixx="7.83e-04"
        ixy="-2.54e-07"
        ixz="-1.13e-05"
        iyy="8.01e-04"
        iyz="1.92e-06"
        izz="4.30e-04" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wujihand-urdf/Description/meshes/left/finger1_link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wujihand-urdf/Description/meshes/left/finger1_link4.STL" />
      </geometry>
      <class>collision</class>
    </collision>
  </link>
  <joint
    name="finger1_joint4"
    type="revolute">
    <origin
      xyz="0 4.0225E-05 0.028987"
      rpy="0 0 0" />
    <parent
      link="finger1_link3" />
    <child
      link="finger1_link4" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.4932"
      upper="1.6272"
      effort="0.3"
      velocity="13.57866158" />
  </joint>
  <link
    name="finger1_tip_link">
    <inertial>
      <origin
        xyz="-0.000181790844011175 -8.01226346783257E-06 -0.00417789759267298"
        rpy="0 0 0" />
      <mass
        value="0.004" />
      <inertia
        ixx="1.18e-04"
        ixy="2.61e-09"
        ixz="4.35e-06"
        iyy="1.18e-04"
        iyz="-9.31e-10"
        izz="1.05e-04" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wujihand-urdf/Description/meshes/left/finger1_tip_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wujihand-urdf/Description/meshes/left/finger1_tip_link.STL" />
      </geometry>
      <class>collision</class>
    </collision>
  </link>
  <joint
    name="finger1_tip_fixed"
    type="fixed">
    <origin
      xyz="-0.001058 -0.00044022 0.029313"
      rpy="0 0 0" />
    <parent
      link="finger1_link4" />
    <child
      link="finger1_tip_link" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="-0.5236"
      upper="0.5236"
      effort="100"
      velocity="10" />
  </joint>
  <link
    name="finger2_link1">
    <inertial>
      <origin
        xyz="-0.00132913876729344 1.07998111356644E-08 0.000319987804784969"
        rpy="0 0 0" />
      <mass
        value="0.0032" />
      <inertia
        ixx="8.25e-05"
        ixy="-3.72e-10"
        ixz="-2.51e-05"
        iyy="7.18e-05"
        iyz="-7.79e-10"
        izz="7.66e-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wujihand-urdf/Description/meshes/left/finger2_link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wujihand-urdf/Description/meshes/left/finger2_link1.STL" />
      </geometry>
      <!-- MuJoCo collision parameters - 第一指节增加margin和gap -->
      <margin value="0.006"/>
      <gap value="0.004"/>
      <class>collision</class>
    </collision>
  </link>
  <joint
    name="finger2_joint1"
    type="revolute">
    <origin
      xyz="-0.0058701 -0.029434 0.091917"
      rpy="0.11071 -0.071133 0.21823" />
    <parent
      link="palm_link" />
    <child
      link="finger2_link1" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.32695"
      upper="1.63595"
      effort="1"
      velocity="8.203047484" />
  </joint>
  <link
    name="finger2_link2">
    <inertial>
      <origin
        xyz="-0.00607478065701528 -4.93319372601997E-07 0.0174058499433649"
        rpy="0 0 0" />
      <mass
        value="0.033" />
      <inertia
        ixx="4.74e-03"
        ixy="-3.12e-08"
        ixz="-1.58e-04"
        iyy="4.77e-03"
        iyz="2.25e-07"
        izz="8.76e-04" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wujihand-urdf/Description/meshes/left/finger2_link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wujihand-urdf/Description/meshes/left/finger2_link2.STL" />
      </geometry>
      <class>collision</class>
    </collision>
  </link>
  <joint
    name="finger2_joint2"
    type="revolute">
    <origin
      xyz="0.0022 0 0.004"
      rpy="-0.00043322 1.0969E-05 0" />
    <parent
      link="finger2_link1" />
    <child
      link="finger2_link2" />
    <axis
      xyz="-1 -0 -0" />
    <limit
      lower="-0.495"
      upper="0.495"
      effort="0.2"
      velocity="8.115781022" />
  </joint>
  <link
    name="finger2_link3">
    <inertial>
      <origin
        xyz="-0.00112281429455101 4.42885564347698E-06 0.0155095500899497"
        rpy="0 0 0" />
      <mass
        value="0.0165" />
      <inertia
        ixx="1.45e-03"
        ixy="-1.73e-08"
        ixz="3.48e-05"
        iyy="1.42e-03"
        iyz="1.26e-06"
        izz="4.50e-04" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wujihand-urdf/Description/meshes/left/finger2_link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wujihand-urdf/Description/meshes/left/finger2_link3.STL" />
      </geometry>
      <class>collision</class>
    </collision>
  </link>
  <joint
    name="finger2_joint3"
    type="revolute">
    <origin
      xyz="-0.0046 0 0.036618"
      rpy="0 0 -0.00026861" />
    <parent
      link="finger2_link2" />
    <child
      link="finger2_link3" />
    <axis
      xyz="-0 1 -0" />
    <limit
      lower="-0.4932"
      upper="1.6272"
      effort="0.3"
      velocity="12.86307659" />
  </joint>
  <link
    name="finger2_link4">
    <inertial>
      <origin
        xyz="-0.000894373440667368 1.7064179684341E-05 0.0053517596526321"
        rpy="0 0 0" />
      <mass
        value="0.014" />
      <inertia
        ixx="5.07e-04"
        ixy="8.93e-08"
        ixz="1.62e-05"
        iyy="3.58e-04"
        iyz="8.67e-07"
        izz="4.13e-04" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wujihand-urdf/Description/meshes/left/finger2_link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wujihand-urdf/Description/meshes/left/finger2_link4.STL" />
      </geometry>
      <class>collision</class>
    </collision>
  </link>
  <joint
    name="finger2_joint4"
    type="revolute">
    <origin
      xyz="0 0 0.029"
      rpy="0 0 0" />
    <parent
      link="finger2_link3" />
    <child
      link="finger2_link4" />
    <axis
      xyz="-0 1 -0" />
    <limit
      lower="-0.4932"
      upper="1.6272"
      effort="0.3"
      velocity="13.57866158" />
  </joint>
  <link
    name="finger2_tip_link">
    <inertial>
      <origin
        xyz="-0.000203319997422801 1.48461818001711E-06 -0.00861106767971259"
        rpy="0 0 0" />
      <mass
        value="0.004" />
      <inertia
        ixx="1.33e-04"
        ixy="7.44e-09"
        ixz="5.05e-06"
        iyy="1.32e-04"
        iyz="-3.32e-08"
        izz="9.82e-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wujihand-urdf/Description/meshes/left/finger2_tip_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wujihand-urdf/Description/meshes/left/finger2_tip_link.STL" />
      </geometry>
      <class>collision</class>
    </collision>
  </link>
  <joint
    name="finger2_tip_fixed"
    type="fixed">
    <origin
      xyz="-0.0010404 0 0.0267"
      rpy="0 0 0" />
    <parent
      link="finger2_link4" />
    <child
      link="finger2_tip_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="finger3_link1">
    <inertial>
      <origin
        xyz="-0.00132913696813167 1.11602473183009E-09 0.000319936646371297"
        rpy="0 0 0" />
      <mass
        value="0.0032" />
      <inertia
        ixx="8.25e-05"
        ixy="-3.69e-10"
        ixz="-2.51e-05"
        iyy="7.18e-05"
        iyz="-9.85e-10"
        izz="7.66e-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wujihand-urdf/Description/meshes/left/finger3_link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wujihand-urdf/Description/meshes/left/finger3_link1.STL" />
      </geometry>
      <!-- MuJoCo collision parameters - 第一指节增加margin和gap -->
      <margin value="0.006"/>
      <gap value="0.004"/>
      <class>collision</class>
    </collision>
  </link>
  <joint
    name="finger3_joint1"
    type="revolute">
    <origin
      xyz="-0.01046 -0.0074615 0.089544"
      rpy="5.0886E-05 -0.087266 -0.00058387" />
    <parent
      link="palm_link" />
    <child
      link="finger3_link1" />
    <axis
      xyz="-0 1 -0" />
    <limit
      lower="-0.32695"
      upper="1.63595"
      effort="1"
      velocity="8.203047484" />
  </joint>
  <link
    name="finger3_link2">
    <inertial>
      <origin
        xyz="-0.00607477235967843 -4.92548204314783E-07 0.0174058563898581"
        rpy="0 0 0" />
      <mass
        value="0.033" />
      <inertia
        ixx="4.74e-03"
        ixy="-3.07e-08"
        ixz="-1.58e-04"
        iyy="4.77e-03"
        iyz="2.26e-07"
        izz="8.76e-04" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wujihand-urdf/Description/meshes/left/finger3_link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wujihand-urdf/Description/meshes/left/finger3_link2.STL" />
      </geometry>
      <class>collision</class>
    </collision>
  </link>
  <joint
    name="finger3_joint2"
    type="revolute">
    <origin
      xyz="0.0022 0 0.004"
      rpy="-0.00043323 0 0" />
    <parent
      link="finger3_link1" />
    <child
      link="finger3_link2" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="-0.495"
      upper="0.495"
      effort="0.2"
      velocity="8.115781022" />
  </joint>
  <link
    name="finger3_link3">
    <inertial>
      <origin
        xyz="-0.00112282877409504 4.3967738578175E-06 0.0155095423926734"
        rpy="0 0 0" />
      <mass
        value="0.0165" />
      <inertia
        ixx="1.45e-03"
        ixy="-1.41e-08"
        ixz="3.48e-05"
        iyy="1.42e-03"
        iyz="1.26e-06"
        izz="4.50e-04" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wujihand-urdf/Description/meshes/left/finger3_link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wujihand-urdf/Description/meshes/left/finger3_link3.STL" />
      </geometry>
      <class>collision</class>
    </collision>
  </link>
  <joint
    name="finger3_joint3"
    type="revolute">
    <origin
      xyz="-0.0046 0 0.036618"
      rpy="0 0 -0.00026862" />
    <parent
      link="finger3_link2" />
    <child
      link="finger3_link3" />
    <axis
      xyz="-0 1 -0" />
    <limit
      lower="-0.4932"
      upper="1.6272"
      effort="0.3"
      velocity="12.86307659" />
  </joint>
  <link
    name="finger3_link4">
    <inertial>
      <origin
        xyz="-0.000894355967897602 1.70486239230308E-05 0.00535176750388458"
        rpy="0 0 0" />
      <mass
        value="0.014" />
      <inertia
        ixx="5.07e-04"
        ixy="8.95e-08"
        ixz="1.62e-05"
        iyy="3.58e-04"
        iyz="8.66e-07"
        izz="4.13e-04" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wujihand-urdf/Description/meshes/left/finger3_link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wujihand-urdf/Description/meshes/left/finger3_link4.STL" />
      </geometry>
      <class>collision</class>
    </collision>
  </link>
  <joint
    name="finger3_joint4"
    type="revolute">
    <origin
      xyz="0 0 0.029"
      rpy="0 0 0" />
    <parent
      link="finger3_link3" />
    <child
      link="finger3_link4" />
    <axis
      xyz="-0 1 -0" />
    <limit
      lower="-0.4932"
      upper="1.6272"
      effort="0.3"
      velocity="13.57866158" />
  </joint>
  <link
    name="finger3_tip_link">
    <inertial>
      <origin
        xyz="-0.000203207212768761 1.53102336469726E-06 -0.00861060208734837"
        rpy="0 0 0" />
      <mass
        value="0.004" />
      <inertia
        ixx="1.33e-04"
        ixy="7.05e-09"
        ixz="5.05e-06"
        iyy="1.32e-04"
        iyz="-3.37e-08"
        izz="9.82e-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wujihand-urdf/Description/meshes/left/finger3_tip_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wujihand-urdf/Description/meshes/left/finger3_tip_link.STL" />
      </geometry>
      <class>collision</class>
    </collision>
  </link>
  <joint
    name="finger3_tip_fixed"
    type="fixed">
    <origin
      xyz="-0.0010404 0 0.0267"
      rpy="0 0 0" />
    <parent
      link="finger3_link4" />
    <child
      link="finger3_tip_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="finger4_link1">
    <inertial>
      <origin
        xyz="-0.00132895375767908 1.51762913867814E-09 0.000320713696782327"
        rpy="0 0 0" />
      <mass
        value="0.0032" />
      <inertia
        ixx="8.24e-05"
        ixy="-3.49e-10"
        ixz="-2.51e-05"
        iyy="7.18e-05"
        iyz="-7.21e-10"
        izz="7.66e-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wujihand-urdf/Description/meshes/left/finger4_link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wujihand-urdf/Description/meshes/left/finger4_link1.STL" />
      </geometry>
      <!-- MuJoCo collision parameters - 第一指节增加margin和gap -->
      <margin value="0.006"/>
      <gap value="0.004"/>
      <class>collision</class>
    </collision>
  </link>
  <joint
    name="finger4_joint1"
    type="revolute">
    <origin
      xyz="-0.0076649 0.013712 0.084429"
      rpy="-0.090379 -0.084038 -0.047072" />
    <parent
      link="palm_link" />
    <child
      link="finger4_link1" />
    <axis
      xyz="-0 1 -0" />
    <limit
      lower="-0.32695"
      upper="1.63595"
      effort="1"
      velocity="8.203047484" />
  </joint>
  <link
    name="finger4_link2">
    <inertial>
      <origin
        xyz="-0.00607477274280132 -4.94696776296571E-07 0.0174058568340444"
        rpy="0 0 0" />
      <mass
        value="0.033" />
      <inertia
        ixx="4.74e-03"
        ixy="-3.19e-08"
        ixz="-1.58e-04"
        iyy="4.77e-03"
        iyz="2.25e-07"
        izz="8.76e-04" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wujihand-urdf/Description/meshes/left/finger4_link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wujihand-urdf/Description/meshes/left/finger4_link2.STL" />
      </geometry>
      <class>collision</class>
    </collision>
  </link>
  <joint
    name="finger4_joint2"
    type="revolute">
    <origin
      xyz="0.0022024 0 0.0039987"
      rpy="-0.00043323 0.00060486 0" />
    <parent
      link="finger4_link1" />
    <child
      link="finger4_link2" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="-0.495"
      upper="0.495"
      effort="0.2"
      velocity="8.115781022" />
  </joint>
  <link
    name="finger4_link3">
    <inertial>
      <origin
        xyz="-0.0011228321819906 4.39700635864425E-06 0.0155095452031211"
        rpy="0 0 0" />
      <mass
        value="0.0165" />
      <inertia
        ixx="1.45e-03"
        ixy="-1.39e-08"
        ixz="3.48e-05"
        iyy="1.42e-03"
        iyz="1.26e-06"
        izz="4.50e-04" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wujihand-urdf/Description/meshes/left/finger4_link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wujihand-urdf/Description/meshes/left/finger4_link3.STL" />
      </geometry>
      <class>collision</class>
    </collision>
  </link>
  <joint
    name="finger4_joint3"
    type="revolute">
    <origin
      xyz="-0.0046 0 0.036618"
      rpy="0 0 -0.00026862" />
    <parent
      link="finger4_link2" />
    <child
      link="finger4_link3" />
    <axis
      xyz="-0 1 -0" />
    <limit
      lower="-0.4932"
      upper="1.6272"
      effort="0.3"
      velocity="12.86307659" />
  </joint>
  <link
    name="finger4_link4">
    <inertial>
      <origin
        xyz="-0.000894359410124938 1.70403161934805E-05 0.00535177062111186"
        rpy="0 0 0" />
      <mass
        value="0.014" />
      <inertia
        ixx="5.07e-04"
        ixy="9.04e-08"
        ixz="1.62e-05"
        iyy="3.58e-04"
        iyz="8.66e-07"
        izz="4.13e-04" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wujihand-urdf/Description/meshes/left/finger4_link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wujihand-urdf/Description/meshes/left/finger4_link4.STL" />
      </geometry>
      <class>collision</class>
    </collision>
  </link>
  <joint
    name="finger4_joint4"
    type="revolute">
    <origin
      xyz="0 0 0.029"
      rpy="0 0 0" />
    <parent
      link="finger4_link3" />
    <child
      link="finger4_link4" />
    <axis
      xyz="-0 1 -0" />
    <limit
      lower="-0.4932"
      upper="1.6272"
      effort="0.3"
      velocity="13.57866158" />
  </joint>
  <link
    name="finger4_tip_link">
    <inertial>
      <origin
        xyz="-0.000197997018420683 1.49757476195292E-06 -0.00861110586236161"
        rpy="0 0 0" />
      <mass
        value="0.004" />
      <inertia
        ixx="1.33e-04"
        ixy="7.77e-09"
        ixz="5.07e-06"
        iyy="1.32e-04"
        iyz="-3.34e-08"
        izz="9.82e-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wujihand-urdf/Description/meshes/left/finger4_tip_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wujihand-urdf/Description/meshes/left/finger4_tip_link.STL" />
      </geometry>
      <class>collision</class>
    </collision>
  </link>
  <joint
    name="finger4_tip_fixed"
    type="fixed">
    <origin
      xyz="-0.0010993 0 0.026698"
      rpy="0 0 0" />
    <parent
      link="finger4_link4" />
    <child
      link="finger4_tip_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="finger5_link1">
    <inertial>
      <origin
        xyz="-0.0013289059094453 -3.48186606907719E-08 0.000320876706930359"
        rpy="0 0 0" />
      <mass
        value="0.0032" />
      <inertia
        ixx="8.24e-05"
        ixy="-1.45e-10"
        ixz="-2.52e-05"
        iyy="7.18e-05"
        iyz="-7.54e-10"
        izz="7.66e-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wujihand-urdf/Description/meshes/left/finger5_link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wujihand-urdf/Description/meshes/left/finger5_link1.STL" />
      </geometry>
      <!-- MuJoCo collision parameters - 第一指节增加margin和gap -->
      <margin value="0.006"/>
      <gap value="0.004"/>
      <class>collision</class>
    </collision>
  </link>
  <joint
    name="finger5_joint1"
    type="revolute">
    <origin
      xyz="-0.0022687 0.034001 0.074281"
      rpy="-0.1925 -0.09326 -0.15753" />
    <parent
      link="palm_link" />
    <child
      link="finger5_link1" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.32695"
      upper="1.63595"
      effort="1"
      velocity="8.203047484" />
  </joint>
  <link
    name="finger5_link2">
    <inertial>
      <origin
        xyz="-0.00607477630781191 -4.98515591005472E-07 0.0174058545892246"
        rpy="0 0 0" />
      <mass
        value="0.033" />
      <inertia
        ixx="4.74e-03"
        ixy="-3.39e-08"
        ixz="-1.58e-04"
        iyy="4.77e-03"
        iyz="2.22e-07"
        izz="8.76e-04" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wujihand-urdf/Description/meshes/left/finger5_link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wujihand-urdf/Description/meshes/left/finger5_link2.STL" />
      </geometry>
      <class>collision</class>
    </collision>
  </link>
  <joint
    name="finger5_joint2"
    type="revolute">
    <origin
      xyz="0.002203 0 0.0039983"
      rpy="-0.00043323 0.00075655 0" />
    <parent
      link="finger5_link1" />
    <child
      link="finger5_link2" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="-0.495"
      upper="0.495"
      effort="0.2"
      velocity="8.115781022" />
  </joint>
  <link
    name="finger5_link3">
    <inertial>
      <origin
        xyz="-0.00112283373761552 4.41305177315693E-06 0.015509541308375"
        rpy="0 0 0" />
      <mass
        value="0.0165" />
      <inertia
        ixx="1.45e-03"
        ixy="-1.52e-08"
        ixz="3.48e-05"
        iyy="1.42e-03"
        iyz="1.26e-06"
        izz="4.50e-04" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wujihand-urdf/Description/meshes/left/finger5_link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wujihand-urdf/Description/meshes/left/finger5_link3.STL" />
      </geometry>
      <class>collision</class>
    </collision>
  </link>
  <joint
    name="finger5_joint3"
    type="revolute">
    <origin
      xyz="-0.0046 0 0.036618"
      rpy="0 0 -0.00026862" />
    <parent
      link="finger5_link2" />
    <child
      link="finger5_link3" />
    <axis
      xyz="-0 1 -0" />
    <limit
      lower="-0.4932"
      upper="1.6272"
      effort="0.3"
      velocity="12.86307659" />
  </joint>
  <link
    name="finger5_link4">
    <inertial>
      <origin
        xyz="-0.000894371517294152 1.70401337270983E-05 0.00535176657060582"
        rpy="0 0 0" />
      <mass
        value="0.014" />
      <inertia
        ixx="5.07e-04"
        ixy="9.10e-08"
        ixz="1.62e-05"
        iyy="3.58e-04"
        iyz="8.66e-07"
        izz="4.13e-04" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wujihand-urdf/Description/meshes/left/finger5_link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wujihand-urdf/Description/meshes/left/finger5_link4.STL" />
      </geometry>
      <class>collision</class>
    </collision>
  </link>
  <joint
    name="finger5_joint4"
    type="revolute">
    <origin
      xyz="0 0 0.029"
      rpy="0 0 0" />
    <parent
      link="finger5_link3" />
    <child
      link="finger5_link4" />
    <axis
      xyz="-0 1 -0" />
    <limit
      lower="-0.4932"
      upper="1.6272"
      effort="0.3"
      velocity="13.57866158" />
  </joint>
  <link
    name="finger5_tip_link">
    <inertial>
      <origin
        xyz="-0.000196791258334415 1.49823333060045E-06 -0.00861112752555265"
        rpy="0 0 0" />
      <mass
        value="0.004" />
      <inertia
        ixx="1.33e-04"
        ixy="7.77e-09"
        ixz="5.07e-06"
        iyy="1.32e-04"
        iyz="-3.33e-08"
        izz="9.82e-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wujihand-urdf/Description/meshes/left/finger5_tip_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wujihand-urdf/Description/meshes/left/finger5_tip_link.STL" />
      </geometry>
      <class>collision</class>
    </collision>
  </link>
  <joint
    name="finger5_tip_fixed"
    type="fixed">
    <origin
      xyz="-0.0011127 0 0.026697"
      rpy="0 0 0" />
    <parent
      link="finger5_link4" />
    <child
      link="finger5_tip_link" />
    <axis
      xyz="0 0 0" />
    <limit
      effort="100"
      velocity="10" />
  </joint>
</robot>
